.gradientani {
  background: rgb(16,30,92);
  background: radial-gradient(circle, #2f334a 1%, #050a24 100%);
  animation: gradient ease 10s infinite;
	height: 100vh;
  background-position: center center;
}

@keyframes gradient {
	0% {
    background-size: 100% 100%
	}
	50% {
    background-size: 120% 120%
	}
	100% {
    background-size: 100% 100%
	}
}
